/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

section{
     border: 1px solid black;
     height: 200px;
}
.square{
     border: 1px solid black;
     width: 20%;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
